CODEOWNERS

build/
circuits/compiled/
circuits/circuits/*.circom
circuits/circuits/*/*.circom
circuits/lib/
circuits/scripts/
circuits/test/*.sh
circuits/test/circuits/*.circom
circuits/test/data/*.info
circuits/test/data/*.keys
circuits/test/data/*.tar.gz
circuits/lib
circuits/types
circuits/compiled
circuits/.gitattributes

contracts/artifacts/
contracts/cache/
contracts/contracts/common/proxy/
contracts/coverage.json
contracts/coverage/
contracts/deployments/
contracts/lib/TriadMerkleZeros.sol.template
contracts/staging/
contracts/scripts/slither.patch
contracts/tenderly.yaml
contracts/test/advanced-staking/assets/*.ods
contracts/test/protocol/data/wasm
contracts/test/protocol/data/verificationKeys
contracts/test/protocol/data/provingKeys
contracts/testing/**/*.cli.js
contracts/testing/**/data
contracts/typechain/
contracts/types/
contracts/typing/
contracts/LICENSE*


crypto/coverage/
crypto/lib/
crypto/types/
crypto/LICENSE*

dapp/public/preparation/
dapp/src/types/modules/
dapp/circuits/
dapp/LICENSE*
dapp/stats.json
dapp/tests/data/*.index.html

.env
.env.*
.eslintignore
.gitignore
.gitmessage
.husky/_/
.prettierignore
.yarn-cache
.yarn/
*.orig
*.png
*.webp
*.puml
*.sh
*.svg
node_modules/
package-lock.json
plantuml.skin
tmp/
yarn.lock
.nvmrc
LICENSE
.vscode/*
*/.vscode/*
