dapp/* @pycckuu
dapp/src/workers/* @oleksii9450320
dapp/src/services/* @AhmedIbrahim336
dapp/src/components/* @dcheglakov
dapp/src/pages/* @dcheglakov
dapp/src/images/* @dcheglakov
dapp/src/assets/* @dcheglakov

crypto/* @pycckuu
