# https://docs.gitlab.com/ee/user/project/codeowners/

# Crypto Group
crypto/ @pycckuu

# DApp Group
dapp/ @pycckuu

# DApp Wallet-Engine Subgroup
/dapp/src/workers/ @oleksii9450320
/dapp/webpack.config.js @oleksii9450320
/dapp/tsconfig.json @oleksii9450320
/dapp/babel.config.json @oleksii9450320

# DApp Frontend Subgroup
/dapp/.storybook/ @dcheglakov
/dapp/public/ @dcheglakov
/dapp/src/assets/ @dcheglakov
/dapp/src/components/ @dcheglakov
/dapp/src/images/ @dcheglakov
/dapp/src/pages/ @dcheglakov
/dapp/src/styles/ @dcheglakov
*.scss @dcheglakov
*.tsx @dcheglakov
/dapp/postcss.config.js @dcheglakov
/dapp/tailwind.config.js @dcheglakov


# DApp Service layer Subgroup
/dapp/src/services/ @neuodev
/dapp/src/redux/ @neuodev
/dapp/src/hooks/ @neuodev

# Subgraph Group
/subgraph/ @pycckuu
