compiled/*
*.ptau
compiled/main_zAccount_registration_v1_js/*.js
!compiled/main_zAccount_registration_v1_js/
!compiled/main_zAccount_registration_v1_js/main_zAccount_registration_v1.wasm
!compiled/tmp/README.txt
!compiled/main_zAccount_registration_v1_extended_final.zkey
!compiled/main_zAccount_registration_v1_extended_verification_key.json

compiled/main_zAccount_renewal_v1_js/*.js
!compiled/main_zAccount_renewal_v1_js/
!compiled/main_zAccount_renewal_v1_js/main_zAccount_renewal_v1.wasm
!compiled/main_zAccount_renewal_v1_extended_final.zkey
!compiled/main_zAccount_renewal_v1_extended_verification_key.json

compiled/mainTransaction_v1_extended_js/*.js
!compiled/mainTransaction_v1_extended_js/
!compiled/mainTransaction_v1_extended_js/mainTransaction_v1_extended.wasm
!compiled/mainTransaction_v1_extended_final.zkey
!compiled/mainTransaction_v1_extended_verification_key.json

node_modules
package-lock.json
types/
lib/*
yarn.lock