node_modules
package-lock.json
types/
lib/*
yarn.lock
compiled/*
!compiled/zAccountRegistration
!compiled/prpConverter
!compiled/zTransaction
!compiled/zAccountRenewal
!compiled/zSwap
!compiled/treeBatchUpdaterAndRootChecker
!compiled/generate_witness.js
!compiled/initial
*.ptau
