node_modules
package-lock.json
types/
lib/*
yarn.lock
compiled/*
!compiled/zAccountRegistration
!compiled/prpConverter
!compiled/zTransaction
!compiled/zAccountRenewal
!compiled/generate_witness.js
*.ptau
